<p>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Ver mis datos
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body userInfo">
    <section>
        <p> Telefono: {{phone}} </p>
        <p> Edad: {{age}}</p>
        <p> Email: {{email}}</p>
        <p> Direccion: {{address}}</p>
    </section>
    <img src="../img/userImg/{{image}}" alt="Foto del usuario" class="userImg">
  </div>
</div>