<table class="table w-75 m-auto">
  <thead>
    <tr>
      <th class="col-4">Datos</th>
      <th class="col-8">Estados</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Argumentos de entrada</td>
      <td>{{processArgs}}</td>
    </tr>
    <tr>
      <td>Nombre de plataforma</td>
      <td>{{process.title}}</td>
    </tr>
    <tr>
      <td>Version de Node</td>
      <td>{{process.version}}</td>
    </tr>
    <tr>
      <td>Memoria reservada (rss)</td>
      <td>{{processMemory}}</td>
    </tr>
    <tr>
      <td>Path de ejecucion</td>
      <td>{{process.execPath}}</td>
    </tr>
    <tr>
      <td>Process ID</td>
      <td>{{process.pid}}</td>
    </tr>
    <tr>
      <td>Carpeta del proyecto</td>
      <td>{{processDirectory}}</td>
    </tr>
    <tr>
      <td>Cantidad de nucleos</td>
      <td>{{CPU_CORES}} nucleo/s</td>
    </tr>
    <tr>
      <td>Puerto Actual</td>
      <td>{{PORT}}</td>
    </tr>
    <tr>
      <td>Servidor ejecutado en entorno de: </td>
      <td>{{serverDeployment}}</td>
    </tr>
  </tbody>
</table>